body{
    display: flex;
    margin:0;
    font-family: monospace;
}

#gr, #gr2{
    color: rgb(200, 193, 193);
    font-weight: 100;
    margin-left:70px;
    margin-top: 70px;
}

#gr2{
    font-size: smaller;
}

#sim{
    color: white;
}

#ma{
    color:white;
    margin-left: 70px;
    margin-top: 35px;
    font-weight: 600;
}

img{
    width:60px;
    margin-left: 70px;
    margin-top:30px;
}

.text{
    margin-left: 90px;
    margin-top: -120px;
    line-height: 1.6;
    display: flex;
    gap:-10px
}

.b1, .b2, .b3, .b4{
    margin-right: -43px;
}

.container{
    width:100dvw;
    height: 450px;
    background-color: rgb(11, 76, 69);
}
        
@media (max-width: 600px) {
    #gr{
        font-size: large;
        margin-left: 30px;
    }
    img{
        margin-left: 30px;
        width:80px;
    }
    #ma{
        margin-left: 30px;
    }
    .text{
        margin-left: 60px;
        height:100px;
        top: 10px;
        position: relative;
        width:500px;
    }
    .b1, .b2, .b3, .b4{
        position:relative;
    }
    .b1{
        bottom: 40px;
        right:310px;
    }
    .b2{
        bottom: 40px;
        left:170px;
    }
    .b3{
        right:87px;
    }
    .b4{
        right:53px;
    }

}